<body class="loginBackground">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="signupBox">


      <h1>New Listing</h1>

      <%= render 'form' %>

      <%= link_to 'Back', listings_path, class:"btn btn-link" %>

    </div>
  </div>
  <div class="col-md-4"></div>
</div>


</body>