<div class="row">
  <div class="col-md-12 center padBottom make-banner">
    <h1>Get in touch</h1>
  </div>
</div>
<div class="row">
  <!--Scott's contact profile-->
  <div class="col-md-6">
    <img class="img-rounded contact-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png">
  </div>
  <div class="col-md-6 contact bordered">
    <h1 class="Georgia">Scott Willan</h1>
    <h3>e-mail: willanscot@myvuw.ac.nz</h3>
    <h3>Student id: 300317235</h3>
    <h3>Course: SWEN303</h3>
  </div>
</div>
<div class="row">
  <!--Donald's contact profile-->
  <div class="divider padBottom"></div>
  <div class="col-md-6">
    <img class="img-rounded contact-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png">
  </div>
  <div class="col-md-6 contact bordered">
    <h1 class="Georgia">Donald Tang</h1>
    <h3>e-mail: tangdonald@myvuw.ac.nz</h3>
    <h3>Student id: Unknown</h3>
    <h3>Course: SWEN303</h3>
  </div>
</div>

