@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-default{
  background-color: rgba(255, 255, 255, 1)
}

.navbar-default .navbar-brand{
  color: #603e00;
  font-family: "Georgia, serif";
  font-size: 45px;
}

.navbarfont{
  font-size: 22px !important;
  margin-left: 22px;
}

.btn-default {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}

.btn-custom {
  color: white;
  background-color: #603e00;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control-search {
  box-shadow: none;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  font-size: 22px !important;
}

.jumbotron{
  background: url(http://i.imgur.com/ZmuBfEx.jpg);
  min-height: 400px;
  background-size: cover;
  background-position: center bottom;
}

.form-control:focus {
  color: #105cb2;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#image{
  width: 100%;
  height: auto;
}

.col-md-3{
  color:red;
}

.col-md-3:nth-child(4n+1) {
  clear: left
}

img {
  min-height: inherit;
  max-height: 250px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}

.center {
	text-align: center;
}

.active {
  background-color: orangered;
}

.custom-button {
  color: #ffffff !important;
  font-size: large;
  background-color: rgba(0, 0, 144, 0.28);
  margin-right: 15px;
  margin-left: -15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.custom-button-2 {
  color: #ffffff !important;
  font-size: large;
  background-color: rgba(125, 0, 160, 0.21);
  margin-right: 15px;
  margin-left: -15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.custom-button:hover {
  color: #ffffff !important;
  font-size: large;
  background-color: rgba(0, 0, 144, 0.64) !important;
  margin-right: 15px;
  margin-left: -15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.custom-button-2:hover {
  color: #ffffff !important;
  font-size: large;
  background-color: rgba(125, 0, 160, 0.56) !important;
  margin-right: 15px;
  margin-left: -15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
}


.footercontainer {
  height: 20px;
  color: white;
  background-color: black;
}

.newMember {
  font-size: medium;
  margin-top: 60px;
}

.newSignUp {
  color: #105cb2;
}

.padBottom {
  margin-bottom: 50px;
}

.bordered {
  border: solid;
  border-radius: 5px;
  height: inherit;
  padding: 20px;
  padding-top: 10px;
  border-color: #adadad;
  color: #adadad;
  background-color: white ;
}

h1{
  color: white;
}

.contact h1{
}

.Georgia {
  font-family: Georgia, serif;
  font-size: 35px;
  color: #603e00;
}

.contact-img {
  height: inherit;
  width: auto;
}

.footerLink {
  color: #FFFFFF !important;
  padding: 10px;
}
.footerLink:hover {
  color: #FFFFFF !important;
  background-color: #105cb2;
  height: 100%;
  padding: 10px;
}

.make-banner {
  margin-top: 0;
  font-size: large;
  font-family: Georgia, serif;
  padding: 15px;
  padding-top: 0;
  color: white !important;
  background-color: #105cb2;
  width: 100%;
}


.loginBackground {
  background-image: url("https://static.pexels.com/photos/2855/landscape-mountains-nature-lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.loginBox {
  padding: 30px;
  padding-top: 60px;
  margin-top: 100px;
  height: 500px;
  width: 100%;
  color: white;
  background-color: rgba(0, 106, 255, 0.6);
  background: linear-gradient(to top, rgba(84, 0, 255, 0.6), rgba(0, 106, 255, 0.3));
  border-radius: 5px;
}

.loginDetails {
  margin-top: 30px;
  margin-bottom: 30px;
}

.loginTosignin {
  color: white !important;
  background-color: #105cb2;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}
.loginTosignin:hover {
  color: green;
  background-color: transparent !important;
}

.signupBox {
  padding: 30px;
  padding-top: 20px;
  margin-top: 70px;
  height: 650px;
  width: 100%;
  color: white;
  background-color: rgba(0, 106, 255, 0.6);
  background: linear-gradient(to top, rgba(0, 4, 24, 0.6), rgba(41, 0, 120, 0.42));
  border-radius: 5px;
}

.editBackground{
  background-image: url("http://www.planwallpaper.com/static/images/ZhGEqAP.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mainBackground{
  //background: rgb(249, 246, 255);
  background-image: url("http://7-themes.com/data_images/out/37/6894652-simple-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.editBox {
  padding: 30px;
  padding-top: 20px;
  margin-top: 70px;
  height: 550px;
  width: 100%;
  color: white;
  background-color: rgba(0, 106, 255, 0.6);
  background: linear-gradient(to top, rgba(0, 4, 24, 0.6), rgba(28, 177, 178, 0.6));
  border-radius: 5px;
}

.contactBox {
  padding: 30px;
  padding-top: 20px;
  margin-top: 70px;
  height: 450px;
  width: 100%;
  color: white;
  background-color: rgba(0, 106, 255, 0.6);
  background: linear-gradient(to top, rgba(0, 4, 24, 0.6), rgba(28, 177, 178, 0.6));
  border-radius: 5px;
}

.signupBtn {
  color: white !important;
}
.signupBtn:hover {
  color: white !important;
  background-color: white !important;
}

.dropShadow {
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.5);
  box-shadow: 0 2px 10px rgba(0,0,0,.5);
}

.hidden { display: none; }
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.transBlack {

  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 70px;
  padding-top: 40px;
  background: (rgba(0, 0, 0, 0.6));
}

.transGrey {

  height: 100%;
  width: 100%;
  border-radius: 10px;
  padding: 70px;
  padding-top: 40px;
  background: (rgba(238, 238, 238, 0.84));
}

