<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <p class="navbar-text">
    by Donald Tang and Scott Willan
  </p>
  <p class="navbar-text pull-right">
    <a href="../pages/contact" class="footerLink">Contact</a>
    <a href="../pages/contact" class="footerLink">Contact</a>
  </p>
</nav>